<div class="text-center">
    <h2 class="display-4">Anmelden</h2>
</div>
<table class="outerTable" id="outerTable">
    <tr class=" rowName">
        <td class="label"><h3>Benutzer:</h3></td>
        <td><input class="input" id="inUser" type="text" value="" placeholder="My User" /></td>
    </tr>
    <tr class=" rowName">
        <td class="label"><h3>Passwort:</h3></td>
        <td><input class="input" id="inPassword" type="password" value="" placeholder="My Password" /></td>
    </tr>
</table>
<div>
    <button class="button3" id="btn_login">Login</button>
    <button class="format"></button>
    <button class="button4" id="btn_help">Hilfe</button>
</div>
<p class="format"></p>
<div class="errorDiv" id="errorDiv"></div>
<div class="help" id="help"></div>
<script src="~/js/login.js"></script>
